<ion-header class="ion-no-border">
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <div class="top-right-logo-main map-logo-bg">SPORTENDER</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="map-content">
  <div id="map-container" style="height: 100%; width: 100%;"></div>

  <div class="info-panel">
    <ion-list lines="none" class="info-list">
      <ion-list-header class="info-panel-title">
        Actividades en la zona
      </ion-list-header>

      <ion-item *ngFor="let event of nearbyEvents" class="info-event-item">
        <div class="info-event-icon-container" slot="start">
          <ion-icon [name]="event.icon + '-outline'" class="info-event-icon"></ion-icon>
        </div>
        <ion-label>
          <h3 class="info-event-title">{{ event.title }}</h3>
          <p class="info-event-details">Hora: {{event.time}} | Cupos: {{event.spots}}</p>
          <p class="info-event-details">CLP ${{event.price | number}}</p>
        </ion-label>
        <ion-button fill="outline" size="small" slot="end" class="info-event-button">Ver</ion-button>
      </ion-item>

    </ion-list>
  </div>

</ion-content>