<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-title class="modal-title">Editar {{ fieldLabel }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" class="cancel-button">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding main-content">
  <div class="modal-content">
    <ion-item>
      <ion-label position="floating" class="input-label">{{ fieldLabel }}</ion-label>
      <ion-input [(ngModel)]="editedValue" [type]="fieldType" class="input-field" (keyup.enter)="save()"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="save()" class="ion-margin-top save-button">
      Guardar Cambios
    </ion-button>
  </div>
</ion-content>