<ion-header class="ion-no-border">
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button> </ion-buttons>
    <div class="top-right-logo-main">SPORTENDER</div> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content">
  <div class="my-events-container">

    <h2 class="title">Eventos</h2>

    <h3 class="section-title">Eventos Actuales</h3>

    <ion-list lines="none" class="event-list" *ngIf="misEventosActuales && misEventosActuales.length > 0; else noEvents">
      <ion-card *ngFor="let event of misEventosActuales" class="event-card" [ngClass]="'level-bg-' + event.levelKey">
        <ion-item lines="none" class="event-item">
          <div class="event-icon-container" slot="start">
            <ion-icon [name]="event.icon + '-outline'" class="event-icon"></ion-icon>
          </div>
          <ion-label class="event-details">
            <h2 class="event-title">{{ event.title }}</h2>
            <p class="event-info">Hoy {{ event.time }} | Faltan {{ event.spots }} | ${{ event.price | number }} p/p</p>
            <p class="event-distance">{{ event.distance }} km</p>
          </ion-label>
          <div class="event-level-badge" [ngClass]="'level-text-' + event.levelKey">
            Nivel {{ event.level }}
          </div>
        </ion-item>
      </ion-card>
    </ion-list>

    <ng-template #noEvents>
        <p class="no-events-message">Aún no tienes eventos actuales.</p>
    </ng-template>

    <div class="bottom-logo-main">SPORTENDER</div>

  </div> </ion-content>