<ion-header class="ion-no-border">
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button> </ion-buttons>
    <div class="top-right-logo-main">SPORTENDER</div> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content">
  <div class="history-container">

    <h2 class="title">Historial</h2>

    <div class="list-wrapper">
      <ion-list lines="none" class="event-list" *ngIf="displayedEvents && displayedEvents.length > 0; else noHistory">
        <ion-card *ngFor="let event of displayedEvents" class="event-card" [ngClass]="'level-bg-' + event.levelKey">
          <ion-item lines="none" class="event-item">
            <div class="event-icon-container" slot="start">
              <ion-icon [name]="event.icon + '-outline'" class="event-icon"></ion-icon>
            </div>
            <ion-label class="event-details">
              <h2 class="event-title">{{ event.title }}</h2>
              <p class="event-info">{{ event.date | date:'dd/MM/yyyy' }} &nbsp;|&nbsp; {{ event.time }} &nbsp;|&nbsp; ${{ event.price | number }} p/p</p>
              <p class="event-distance">{{ event.location }}</p> </ion-label>
            <div class="event-level-badge" [ngClass]="'level-text-' + event.levelKey">
              Nivel {{ event.level }}
            </div>
          </ion-item>
        </ion-card>
      </ion-list>

      <ng-template #noHistory>
        <p class="no-events-message">No hay eventos en tu historial.</p>
      </ng-template>
    </div>


    <div class="pagination-controls" *ngIf="totalPages > 1">
       <ion-button fill="clear" (click)="previousPage()" [disabled]="currentPage === 1">
         <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
       </ion-button>
       <span>Página {{ currentPage }} de {{ totalPages }}</span>
       <ion-button fill="clear" (click)="nextPage()" [disabled]="currentPage === totalPages">
         <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
       </ion-button>
    </div>


    <div class="bottom-logo-main">SPORTENDER</div>

  </div> </ion-content>